.awesome-subcontainer {
    padding-bottom: 58px;
    font-family: 'Raleway', sans-serif;
    width: 1170px;
    margin: 0 auto;
}

.awesome-subcontainer h2 {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    height: 150px;
    line-height: 150px;
    text-transform: uppercase;
}

.awesome-container__separator {
    margin: 0 auto;
    width: 170px;
    height: 0px;
    border: 0.5px solid #EC7979;
}

.awesome-container__text {
    font-weight: 400;
    font-size: 18px;
    color: #86878B;
    text-align: center;
    height: 21px;
    margin-top: 40px;
}

.awesome-container__description {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: calc(370px * 3 + 30px * 2);
}

.awesome-container__description section {
    margin-top: 71px;
    width: 370px;
    height: 383px;
    text-align: center;
}

.awesome-container__description section h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
}

.awesome-container__description section h5 {
    margin-top: 8px;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    line-height: 21.13px;
}