.design-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-subcontainer {
    padding-bottom: 50px;
    width: 1510px;
    background-image: url(../images/town-opacity.png), url(../images/town.png);
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: #fff;

}

.design-subcontainer h2 {
    margin-top: 50px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.design-subcontainer__separator {
    margin-bottom: 40px;
    border: 0.5px solid #fff;
    width: 170px;
}

.design-subcontainer h5 {
    height: 21px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 73px;
}

.design-subcontainer button {
    width: 370px;
    height: 58px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.design-subcontainer button:focus {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.design-subcontainer button:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.design-subcontainer button:active {
    color: #FFFFFF;
    border: 2px solid #AB4949;
    background: #AB4949;
}

@media screen and (min-width: 480px) and (max-width: 1023px) {

    .design-subcontainer {
        width: 1024px;

    }

    .design-subcontainer h2 {
        height: 120px;
        line-height: 120px;
        font-size: 24px;
    }

    .design-subcontainer__separator {
        margin-bottom: 32px;
        width: 142px;
    }

    .design-subcontainer h5 {
        height: 16px;
        line-height: 16px;
        font-size: 14px;
        margin-bottom: 32px;
    }

    .design-subcontainer button {
        width: 318px;
        height: 58px;
    }

}

@media screen and (max-width: 479px) {

    .design-subcontainer {
        width: 320px;
    }

    .design-subcontainer h2 {
        width: 288px;
        margin-top: 0;
        height: 120px;
        line-height: 120px;
        font-size: 24px;
    }

    .design-subcontainer__separator {
        margin-bottom: 16px;
        width: 134px;
    }

    .design-subcontainer h5 {
        width: 288px;
        height: 48px;
        line-height: 16.44px;
        font-size: 14px;
        margin-bottom: 66px;
        text-align: center;
    }

    .design-subcontainer button {
        width: 287px;
        height: 50px;
    }
}