.design-container {
    position: relative;
    margin: 0 auto;
    height: 442px;
    width: 1510px;
    background-image: url(../images/town.png);
    background-repeat: no-repeat;
}

.design-subcontainer__background {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.design-subcontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1170px;
    color: #fff;
    align-items: center;
    position: relative;
    z-index: 2;
}

.design-subcontainer h2 {
    margin-top: 50px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.design-subcontainer__separator {
    margin-bottom: 40px;
    border: 0.5px solid #fff;
    width: 170px;
}

.design-subcontainer h5 {
    height: 21px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 73px;
}

.design-subcontainer button {
    width: 370px;
    height: 58px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}